html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.header, .chat {
    color: white;
}

.main-content {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #d12207, rgb(88, 25, 25));
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 16px;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding-right: 128px;
    gap: 16px;
}

.heading {
    padding-left: 128px;
    font-size: 30px;
    color: f9faf8;
    font-weight: bold;
}

.opening {
    /* background-color: #a11c07; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 48px;
    gap: 8px;
    /* max-height: 300px; */
    /* height: 100%; */
}

.opening-content {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #a89b99c4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    max-width: 512px;
    height: 13rem;
    margin: auto;
    white-space: pre-line;
    text-align: center;
}

.opening-box {
    display: flex;
}

.chat {
    /* background-color: #a11c07; */
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 48px;
    gap: 8px;
    /* max-height: 300px; */
    /* height: 100%; */
}

.messages {
    width: 100%;
    /* margin: auto; */
    padding: 0;
    justify-content: center;
}

.message-content {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #a89b99c4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    max-width: 512px;
    height: 13rem;
    margin: auto;
}

.message-content-bot, .message-content-user {
    /* display: inline-block; */
    /* align-self: left; */
    background-color: #c21a00;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    /* width: auto; */
    /* text-align: left; */
}

.message-content-user {
    /* text-align: right; */
    /* align-self: right; */
    margin-left: auto;
    margin-right: 0;
}

.message-box {
    display: flex;
}
